.goods-container {
    width: calc(100% - 300px - 20px);
    float: right;
}

.goods-container__top {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 15px;
}

.goods-container__title {
    display: inline-block;
    margin: 0;
}
.goods-container__sorting {
    cursor: pointer;
    padding-left: 5px;
}
.goods-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
}

