.cart-table {
    width: 100%;
    margin-top: 20px;

    th {
        padding: .75rem;
        border-top: 1px solid #dee2e6;
        border-bottom: 2px solid #dee2e6;
        text-align: left;
    }
    td {
        padding: .75rem;
    }
}

.total {
    text-align: right;
    font-size: 1.3rem;
    margin-top: 15px;
}