.header {
    //height: 90px;
    //background-color: #2C3E50;
    //border-bottom: 8px solid #00aeea;
    background-color: #2C3E50;
    border-bottom: 8px solid #3e6994;
}
.logo {
    display: inline-block;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}